{# Standard Link Template #}
{# Generates a link model using datavault4dbt.link() macro with yaml_metadata #}

{{ config(
    materialized='incremental',
    tags=['link', 'raw_vault'{{ ", '" ~ group ~ "'" if group }}]
) }}

{%- set yaml_metadata -%}
link_hashkey: '{{ hashkey.hashkey_name }}'
foreign_hashkeys:
{%- for fk in foreign_hashkeys %}
    - '{{ fk }}'
{%- endfor %}
source_models:
{%- for source in source_tables %}
    - name: '{{ source.stage_name }}'
{%- if source.rsrc_static %}
      rsrc_static: '{{ source.rsrc_static }}'
{%- endif %}
{#- Only include link_hk if it differs from the link's default hashkey -#}
{%- if source.link_hk and source.link_hk != hashkey.hashkey_name %}
      link_hk: '{{ source.link_hk }}'
{%- endif %}
{#- Only include fk_columns if defined and differs from defaults -#}
{%- if source.fk_columns %}
      fk_columns:
{%- for fk in source.fk_columns %}
          - {{ fk }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endset -%}

{{ datavault4dbt.link(yaml_metadata=yaml_metadata) }}
